INSTALL
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
config.log
config.status
src/.deps/
src/*.o
src/divvun-suggest
/test/generator.hfst
/test/generator.hfstol
/compile
/test/output.*.err
/test/output.*.json
/test/output-flushing.*.err
/test/output-flushing.*.json
/test/*.trs
/test/*.log
/test-driver
/test-suite.log
/test/.tern-port
/**/Makefile
/**/Makefile.in
