INSTALL
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
config.log
config.status
src/.deps/
src/*.o
/src/divvun-suggest
/src/divvun-validate-suggest
/compile
/**/Makefile
/**/Makefile.in
old/
/config.guess
/config.sub
/libtool
/ltmain.sh
/src/.libs/
/src/divvun-checker
/src/divvun-validate-pipespec
/src/suggest.lo
/src/checker.lo
/src/libdivvun.la
/src/libdivvun.lo
/src/divvun-gen-sh
/src/divvun-gen-xmlschemas
/src/pipeline.lo

/test-driver
/test-suite.log

/test/suggest/generator.hfst
/test/suggest/generator.hfstol
/test/suggest/output.*.err
/test/suggest/output.*.json
/test/suggest/output-flushing.*.err
/test/suggest/output-flushing.*.json
/test/suggest/test-suite.log
/test/suggest/run.trs
/test/suggest/run.log
/test/suggest/run-flushing.trs
/test/suggest/run-flushing.log
/test/suggest/validate.trs
/test/suggest/validate.log
/test/suggest/.tern-port
/test/suggest/.dir-locals.elc

/test/checker/analyser.hfst
/test/checker/generator.hfstol
/test/checker/errors.xml
/test/checker/tokeniser.pmhfst
/test/checker/sme.zcheck
/test/checker/output
/test/checker/run.log
/test/checker/run.trs
/test/checker/test-suite.log
/test/checker/.dir-locals.elc
/test/checker/run-lib.log
/test/checker/run-lib.trs
/test/checker/run-lib.verboselog

/test/cgspell/analyser.hfst
/test/cgspell/analyser.hfstol
/test/cgspell/analyser.invhfst
/test/cgspell/output.*
/test/cgspell/run.log
/test/cgspell/run.trs
/test/cgspell/test-suite.log
/test/cgspell/.dir-locals.elc
/test/cgspell/run-lib.log
/test/cgspell/run-lib.trs
/test/cgspell/run-lib.verboselog

/examples/using-checker-lib-from-cpp/INSTALL
/examples/using-checker-lib-from-cpp/Makefile
/examples/using-checker-lib-from-cpp/Makefile.in
/examples/using-checker-lib-from-cpp/aclocal.m4
/examples/using-checker-lib-from-cpp/autom4te.cache/
/examples/using-checker-lib-from-cpp/compile
/examples/using-checker-lib-from-cpp/config.guess
/examples/using-checker-lib-from-cpp/config.log
/examples/using-checker-lib-from-cpp/config.status
/examples/using-checker-lib-from-cpp/config.sub
/examples/using-checker-lib-from-cpp/configure
/examples/using-checker-lib-from-cpp/depcomp
/examples/using-checker-lib-from-cpp/install-sh
/examples/using-checker-lib-from-cpp/libtool
/examples/using-checker-lib-from-cpp/ltmain.sh
/examples/using-checker-lib-from-cpp/missing
/examples/using-checker-lib-from-cpp/src/.deps/
/examples/using-checker-lib-from-cpp/src/Makefile
/examples/using-checker-lib-from-cpp/src/Makefile.in
/examples/using-checker-lib-from-cpp/src/using-checker
/examples/using-checker-lib-from-cpp/src/using_checker-using-checker.o
/src/divvun-cgspell
