INSTALL
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
**/Makefile
**/Makefile.in
config.log
config.status
src/.deps/
src/*.o
src/divvun-suggest
/test/generator.hfst
/test/generator.hfstol
/compile
/test/output.*.json
/test/output.*.err
/test/*.trs
/test/*.log
/test-driver
/test-suite.log
