language: cpp

# let linux be Ubuntu 14.04 Trusty
sudo: required
dist: trusty

compiler:
    - clang
    - gcc

os:
    - linux
    - osx

before_script:
    - echo "$TRAVIS_OS_NAME"
    - if [[ "$TRAVIS_OS_NAME" = "linux" ]];then wget http://apertium.projectjj.com/apt/install-nightly.sh -O - | sudo bash; fi
    - if [[ "$TRAVIS_OS_NAME" = "linux" ]];then sudo apt-get -f install -y libhfst45-dev libpugixml-dev; fi
    - if [[ "$TRAVIS_OS_NAME" = "osx" ]];then wget http://apertium.projectjj.com/osx/install-nightly.sh -O - | sudo bash; fi
    - if [[ "$TRAVIS_OS_NAME" = "osx" ]];then sudo brew update; fi
    - if [[ "$TRAVIS_OS_NAME" = "osx" ]];then sudo brew install pugixml; fi
    - ./autogen.sh

# on osx, nightly goes in /usr/local
env:
    - LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:/usr/local/lib" PKG_CONFIG_PATH="${PKG_CONFIG_PATH}:/usr/local/share/pkgconfig:/usr/local/lib/pkgconfig" ACLOCAL_PATH="${ACLOCAL_PATH}:/usr/local/share/aclocal" PATH="${PATH}:/usr/local/bin"


# Trusty's default gcc doesn't have C++11
install:
- if [[ "$TRAVIS_OS_NAME" = "linux" && "$CXX" = "g++" ]]; then export CXX="g++-5" CC="gcc-5"; fi

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5
    - libstdc++-5-dev
    - clang
